body {
  padding: 8vw 16vw;
  @include background;
}
a {
  color: $color__link;
  &:hover {
    color: $color__link-hover;
  }
}
.row {
  display: flex;
  justify-content: space-between;

  .col {
    flex-basis: 50%;
  }
}

//background image 
@mixin background {
  @if $show-home-image {
    &#bg-img {
      background: $home-image;
      background-attachment: fixed;
      background-size: cover;
    }
  }
}